html{
    background-color: rgb(228, 231, 231);
    display: flex;
    justify-content: center;
    
}
body{text-align: center;

max-width: 250px;
background-color: white;
border-radius: 8px;
display:flex;
flex-direction: column;
align-items: center;
align-content:center;
padding: 0.8em;}

h1{
font-weight: 300;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*What is the correct font-family?*/
font-size:1.25rem;
padding-top:0.8em;

}
p{
    color:grey;
    
}
img{
    border-radius: 8px;
    max-width:240px;
}
.attribution { font-size: 11px; text-align: center; 
visibility: hidden;}
.attribution a { color: hsl(228, 45%, 44%); }
